div#gmap-holder {
    min-height: 100%;
}
div#gmap-holder iframe {
    height: 75vh;
    width: 100vh;
}
div#gmap-holder ul {
    font-size: 2rem;
    text-align: center;
}

div#gmap-holder ul li {
    display: inline-block;
}
