<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>{{ site.title[page.lang] }}</h1>
      <br>
    </div><!-- header-content-inner-->
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">{{ site.t.header.heading[page.lang] }}</h2>
    </div>
    <br>
    <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 text-center">
        <form action="https://formspree.io/f/xbjpqqnp" method="POST">
         <br>
         <fieldset class="form-group">
             <input type="text" class="form-control" id="exampleInputPassword1" name="name" placeholder="{{ site.t.header.form.name[page.lang] }}">
         </fieldset>
         <fieldset class="form-group">
             <input type="email" class="form-control form-control-lg" name="_replyto" id="exampleInputEmail1" placeholder="{{ site.t.header.form.email[page.lang] }}" >
         </fieldset>
         <fieldset class="form-group">
             <textarea class="form-control" id="exampleTextarea" rows="3" name="message" placeholder="{{ site.t.header.form.message[page.lang] }}"></textarea>
         </fieldset>
         <input type="submit" value="{{ site.t.header.form.button[page.lang] }}" class="btn btn-primary btn-xl page-scroll">
         </form>
     </div><!-- columns -->
 </div><!-- header-content -->
</header>

