<div id="gmap-holder">
  <section class="bg-primary" id="gmap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <h2 class="section-heading">{{ site.t.map.title[page.lang] }}</h2>
          <hr class="primary">
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <p>Syzygy has been used by over 34000 people at institutions across Canada.</p>
        </div>
      </div>
      -->
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <ul class="ul-edu fa-ul">
            <li><i class="fa-li fa fa-users"></i><span>{{ site.t.map.stats.users[page.lang] }}</span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="ul-edu fa-ul">
            <li><i class="fa-li fa fa-university"></i><span>{{ site.t.map.stats.institutions[page.lang] }}</span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="ul-edu fa-ul">
            <li><i class="fa-li fa fa-globe"></i><span>{{ site.t.map.stats.provinces[page.lang] }}</span></li>
          </ul>
        </div>
      </div>
      <hr class="primary">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1nzSAGLSn8eWdfQ6K7zTw-31h82I" id="gmap-iframe" style="min-height: 100%; width: 100%" ></iframe>
    </div>
  </section>
</div>
