<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">{{ site.title[page.lang] }}</a>
    </div><!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for menu in site.t.nav[page.lang] %}
          <li>
          <a class="page-scroll" href="{{ menu.url }}">{{ menu.name }}</a>
          </li>
        {% endfor %}
          <li>
              <div class="dropdown">
              <button class="btn btn-primary btn-sm navbar-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                  {{ site.t.nav.button[page.lang] }}
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                  <a class="dropdown-item" href="https://athabascau.syzygy.ca">Athabascau</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://bcit.syzygy.ca">BCIT</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://brocku.syzygy.ca">BrockU</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://mcgill.syzygy.ca">McGill</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://mcmaster.syzygy.ca">McMaster</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://queensu.syzygy.ca">QueensU</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://sfu.syzygy.ca">SFU</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://ualberta.syzygy.ca">UAlberta</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://ubc.syzygy.ca">UBC</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://ucalgary.syzygy.ca">UCalgary</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uleth.syzygy.ca">ULeth</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://umanitoba.syzygy.ca">UManitoba</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://unb.syzygy.ca">UNB</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://unbc.syzygy.ca">UNBC</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uottawa.syzygy.ca">UOttawa</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uregina.syzygy.ca">URegina</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://usask.syzygy.ca">USask</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://usherbrooke.syzygy.ca">USerbrooke</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://utoronto.syzygy.ca">UToronto</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uvic.syzygy.ca">UVic</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uw.syzygy.ca">UW (Washington)</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://uwaterloo.syzygy.ca">UWaterloo</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://yorku.syzygy.ca">YorkU</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://cybera.syzygy.ca">Cybera (google)</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="https://pims.syzygy.ca">PIMS (google)</a>
              </div>
              </div>
          </li>
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
          <li>
          <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a>
          </li>
        {% endfor %}
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
          <li>
          <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a>
          </li>
        {% endfor %}
      </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container-fluid -->
</nav>
