<section class="bg-primary" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading"><i class="fa fa-line-chart fa-4x"></i></h2>
        <i class="fa fa-arrow-up fa-3x"></i>
        <h2 class="section-heading">{{ site.t.service.title[page.lang] }}</h2>
        <hr class="light">
        <p class="text-faded">{{ site.t.service.description[page.lang] }}</p>
      </div><!-- columns-->
    </div><!-- row -->
  </div><!-- container -->
</section>

